/*
==============================
==============================
*/
$primary: #ff6363;
$secondary: #543864;
$tertiary: #202040;
$tertiary-darker: #16162c;
$white: #ffffff;
$white-darker: #cacaca;
$black: rgba(0, 0, 0, 0.6);
$black-darker: rgba(0, 0, 0, 0.8);

$transition-primary: all 350ms ease;
