/*
==============================
Author: Sergi. J
==============================
*/

@import "./reset";
@import "./base";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;900&display=swap");

/*
==============================
Global
==============================
*/

html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 10px;
  font-family: "Poppins", Verdana, Tahoma, sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 300;
  color: $white;
  background: $tertiary;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: $white;
}

a:link,
a:active,
a:visited,
a:focus,
a:hover {
  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3.7rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.7rem;
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: 2.2rem;
}

p {
  padding: 0;
  margin: 0;
}

.btn-home {
  background: $gradient-white;
  padding: 1em;
  font-weight: 500;
  display: inline-block;
  color: $tertiary-darker;
}

.btn-home:focus,
.btn-home:hover {
  background: $white;
}

/*
==============================
Container
==============================
*/

.container {
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 2em;
}

/*
==============================
Nav
==============================
*/

.nav {
  background: $secondary;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 14rem;
}

.nav__search-btn {
  display: none;
}

.nav__search {
  padding: 0;
  margin: 0;
  max-width: calc(100% / 12 * 5);
  flex: 0 0 calc(100% / 12 * 5);
}

.nav__search__form {
  width: 80%;
}

.nav__search__input {
  background: $gradient-white;
  border: none;
  outline: 0;
  color: $primary;
  padding: 0.5em 0.7em;
  width: 100%;
  font-size: inherit;
  font-weight: 500;
}

.nav__search__input:focus {
  background: $white;
}

.nav__logo {
  max-width: calc(100% / 12 * 2);
  flex: 0 0 calc(100% / 12 * 2);
  text-align: center;
  transition: $transition-primary;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__logo a {
  display: inline-block;
  height: 6rem;
  line-height: 6rem;
  padding: 0 0.3em;
  background: $gradient-primary;
  transition: $transition-primary;
}

.nav__ham-btn {
  display: none;
}

.nav__menu {
  display: flex;
  max-width: calc(100% / 12 * 5);
  flex: 0 0 calc(100% / 12 * 5);
  justify-content: flex-end;
}

.nav__menu > * {
  margin-left: 1em;
}

.nav__menu a {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.5em 1em;
  background: $gradient-white;
  color: $tertiary;
}

.nav__menu a:hover,
.nav__menu a:focus {
  background: $white;
}

/*
==============================
Movies
==============================
*/

main .container {
  transition: $transition-primary;
}

.container--moved-bottom {
  transform: translateY(10rem);
  transition: $transition-primary;
}

.movies-title {
  text-align: center;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -1em;
  transition: $transition-primary;
}

.movies__item {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  padding: 1em;
  flex-direction: column;
  transition: $transition-primary;
}

.movies__item__img {
  transition: $transition-primary;
  opacity: 0.8;
  cursor: pointer;
  height: 100vh;
  width: 100vh;
  object-fit: cover;
  object-position: 50% 0%;
  max-height: 37rem;
}

.movies__item:hover .movies__item__img {
  opacity: 1;
}

.movies__item__title {
  background: $gradient-white;
  padding: 1em;
  color: $primary;
  text-align: center;
}

.movies__item__details {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: $tertiary-darker;
  font-weight: 500;
}

/*
==============================
Movie Details
==============================
*/

.movies__detail {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  background: $tertiary-darker;
  color: $white;
  font-size: 1.8rem;
}

.movies__detail__info,
.movies__detail__img {
  padding: 0.5em;
}

.movies__detail__img img {
  width: 100vh;
  object-fit: cover;
  object-position: 50% 0%;
  max-height: 37rem;
}

.movies__detail__genres {
  font-weight: 500;
}

.movies__detail__info span {
  display: block;
}

.movies__detail__imdb-btn {
  background: $gradient-primary;
  padding: 1em;
  font-weight: 500;
  display: inline-block;
}

.movies__detail__imdb-btn:hover,
.movies__detail__imdb-btn:focus {
  background: $gradient-secondary;
}

/*
==============================
Footer
==============================
*/

.footer {
  background: $tertiary-darker;
  text-align: center;
  transition: $transition-primary;
}

.footer--moved-bottom {
  transform: translateY(10rem);
  transition: $transition-primary;
  margin-bottom: 10rem;
}

/*
==============================
Utilities
==============================
*/

.pad-tb-1 {
  padding: 1em 0;
}

.pad-tb-2 {
  padding: 2em 0;
}

.pad-2 {
  padding: 2em;
}

.pad-b-2 {
  padding-bottom: 2em;
}

.pad-t-1 {
  padding-top: 1em;
}

.pad-t-2 {
  padding-top: 2em;
}

.pad-t-6 {
  padding-top: 12em;
}

.mar-tb-05 {
  margin: 0.5em 0;
}

.mar-tb-1 {
  margin: 1em 0;
}

.mar-tb-2 {
  margin: 2em 0;
}

.mar-t-4 {
  margin-top: 4em;
}

.mar-t-1 {
  margin-top: 1em;
}

.mar-t-2 {
  margin-top: 2em;
}

/*
==============================
Media Queries
==============================
*/

/* Movie Items */

@media screen and (min-width: 630px) {
  .movies__item {
    max-width: calc(100% / 12 * 6);
    flex: 0 0 calc(100% / 12 * 6);
  }
}

@media screen and (min-width: 850px) {
  .movies__item {
    max-width: calc(100% / 12 * 4);
    flex: 0 0 calc(100% / 12 * 4);
  }
}

@media screen and (min-width: 1390px) {
  .movies__item {
    max-width: calc(100% / 12 * 3);
    flex: 0 0 calc(100% / 12 * 3);
  }
}

/* Movie Item Image */
@media screen and (min-width: 480px) {
  .movies__item__img {
    max-height: 42rem;
  }
}

@media screen and (min-width: 520px) {
  .movies__item__img {
    max-height: 46rem;
  }
}

@media screen and (min-width: 630px) {
  .movies__item__img {
    max-height: 30rem;
  }
}

@media screen and (min-width: 1000px) {
  .movies__item__img {
    max-height: 40rem;
  }
}

/* Movie Details Image */
@media screen and (min-width: 500px) {
  .movies__detail__img img {
    max-height: 44rem;
  }
}

@media screen and (min-width: 600px) {
  .movies__detail__img img {
    max-height: 58rem;
  }
}

@media screen and (min-width: 700px) {
  .movies__detail__img img {
    max-height: 64rem;
  }
}

@media screen and (min-width: 800px) {
  .movies__detail__img img {
    max-height: 77rem;
  }
}

/* Movie Details */
@media screen and (min-width: 880px) {
  .movies__detail {
    flex-direction: row;
  }

  .movies__detail__img {
    max-width: calc(100% / 12 * 4);
    flex: 0 0 calc(100% / 12 * 4);
    justify-content: flex-start;
  }

  .movies__detail__info {
    max-width: calc(100% / 12 * 8);
    flex: 0 0 calc(100% / 12 * 8);
    justify-content: flex-start;
  }
}

/* Navigation & Search Form */
@media screen and (max-width: 1120px) {
  .nav__container {
    display: flex;
    justify-content: space-around;
  }

  .nav__search-btn {
    display: flex;
    justify-content: flex-start;
    max-width: calc(100% / 12 * 4);
    flex: 0 0 calc(100% / 12 * 4);
  }

  .nav__search-btn button {
    font-size: 2.4rem;
    font-weight: 500;
    padding: 0.5em;
    background: $gradient-white;
    color: $tertiary;
    border: none;
    outline: 0;
    height: 6rem;
    width: 5rem;
    cursor: pointer;
  }

  .nav__search-btn button:hover,
  .nav__search-btn button:focus {
    background: $white;
  }

  .nav__search {
    position: absolute;
    left: 0;
    top: 14rem;
    transform: translateY(-250%);
    opacity: 0;
    visibility: hidden;
    transition: $transition-primary;
    background: $tertiary-darker;
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    z-index: 1999;
    padding: 1.5em;
  }

  .nav__search__form {
    width: 100%;
  }

  .nav__search__input {
    height: 6rem;
    text-align: center;
  }

  .nav__search--show {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }

  .nav__logo {
    max-width: calc(100% / 12 * 4);
    flex: 0 0 calc(100% / 12 * 4);
  }

  .nav__ham-btn {
    display: flex;
    justify-content: flex-end;
    max-width: calc(100% / 12 * 4);
    flex: 0 0 calc(100% / 12 * 4);
  }

  .nav__ham-btn button {
    font-size: 2.4rem;
    font-weight: 500;
    padding: 0.5em;
    background: $gradient-white;
    color: $tertiary;
    border: none;
    outline: 0;
    height: 6rem;
    width: 5rem;
    cursor: pointer;
  }

  .nav__ham-btn button:hover,
  .nav__ham-btn button:focus {
    background: $white;
  }

  .nav__menu {
    position: absolute;
    right: 0;
    top: 14rem;
    min-height: 40vh;
    max-height: 70vh;
    transform: translateY(-250%);
    opacity: 0;
    visibility: hidden;
    transition: $transition-primary;
    background: $white;
    padding: 1em 2em;
    z-index: 999;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    flex: 0 0 100%;
  }

  .nav__menu > * {
    margin: 0;
  }

  .nav__menu a {
    font-size: 2rem;
  }

  .nav__menu a:focus,
  .nav__menu a:hover {
    background: $primary;
    color: $white;
  }

  .nav__menu--show {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
}
